<div *ngIf="previewOpen" class="cntr-preview" (click)="closePreview()">
  <span role="button" class="btn-close-preview" (click)="closePreview()">
    <img class="img-close-preview" src="assets/icons/plus-sign.webp" alt="Close Preview Button" />
  </span>
  <img class="img-preview" [src]="post.image" alt="Preview Image" />
</div>

<div class="cntr-main">
  <!-- Login Form -->
  <form *ngIf="!isLoggedIn" (keydown.enter)="loginOnEnter()" class="cntr-login">
    <img class="img-stop" src="assets/images/stop.webp">
    <p class="txt-warning">
      This page is only for the owner of the webcomic. If it’s you, please log in:
    </p>

    <label class="frm-label">
      Username
      <input [(ngModel)]="username" name="username" class="hand-input" />
    </label>

    <label class="frm-label">
      Password
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        class="hand-input"
      />
    </label>

    <button [disabled]="!isLoginFormValid()" (click)="login()">LOG IN</button>

    <p *ngIf="loginError" class="txt-error">{{ loginError }}</p>
  </form>

  <!-- Create Post Form -->
  <form *ngIf="isLoggedIn" (ngSubmit)="submitPost()" class="frm-create">
    <span role="button" (click)="logout()" class="btn-logout">LOG OUT</span>
    <h2>NEW POST</h2>

    <div class="cntr-nonmobile-top-fields">
      <ng-container *ngIf="deviceType$ | async as deviceType">
        <div *ngIf="deviceType === 'desktop'" class="cntr-labels">
          <label for="title">Title</label>
          <label for="image">Image</label>
          <label for="description">Description</label>
        </div>
      </ng-container>
      <div class="cntr-title-img-desc">
        <input [(ngModel)]="post.title" id="title" name="title" placeholder="Title" required />

        <div class="cntr-image">
          <input [(ngModel)]="post.image" id="image" name="image" placeholder="Image" required />
          <ng-container *ngIf="deviceType$ | async as deviceType">
            <span *ngIf="deviceType === 'mobile'" role="button" class="btn-mobile-preview">
              <img class="img-eye" src="assets/icons/eye.webp" alt="Mobile Image Preview Button" (click)="openPreview()" />
            </span>
          </ng-container>
        </div>

        <textarea [(ngModel)]="post.description" id="description" name="description" placeholder="Description"></textarea>
      </div>
      <ng-container *ngIf="deviceType$ | async as deviceType">
        <div *ngIf="deviceType !== 'mobile'" class="cntr-nonmobile-preview">
          <img *ngIf="post.image" class="img-nonmobile-preview" [src]="post.image" alt="Preview Image" />
        </div>
      </ng-container>
    </div>

    <div class="cntr-date">
      <ng-container *ngIf="deviceType$ | async as deviceType">
        <span *ngIf="deviceType !== 'desktop'" role="button" class="btn-calendar">
          <img class="img-calendar" src="assets/icons/calendar.webp" alt="Date Button" />
        </span>
        <label *ngIf="deviceType === 'desktop'" for="date">Date</label>
      </ng-container>
      <input [(ngModel)]="post.date" id="date" name="date" placeholder="YYYY-MM-DD" type="date" required />
    </div>

    <div class="cntr-links">
      <div class="cntr-speech-control {{post.links.length > 0 ? 'with-links' : ''}}">
        <ng-container *ngIf="deviceType$ | async as deviceType">
          <img *ngIf="deviceType !== 'desktop'" class="img-speech-bubble" src="assets/icons/speech-bubble.webp" alt="Speech Bubble Image" />
          <span *ngIf="deviceType === 'desktop'">Links</span>
        </ng-container>
        <span role="button" class="btn-add-link" (click)="addLink()">
          <img class="img-add-link" src="assets/icons/plus-sign.webp" alt="Add New Link Button" />
        </span>
      </div>

      <div *ngIf="post.links.length > 0" class="cntr-link-list">
        <div *ngFor="let link of post.links; let i = index" class="link-group">
          <div class="cntr-link-data">
            <input [(ngModel)]="link.type" id="link-type-{{i}}" name="link-type-{{i}}" placeholder="Type" required />
            <input [(ngModel)]="link.url" id="link-url-{{i}}" name="link-url-{{i}}" placeholder="Url" required />
          </div>
          <span role="button" class="btn-trash-bin" (click)="removeLink(i)">
            <img class="img-trash-bin" src="assets/icons/trash-bin.webp" alt="Link Delete Button" />
          </span>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="isLoggedIn" class="cntr-create-post-button">
    <button
      [disabled]="loading || !isFormValid()"
      (click)="submitPost()"
      class="btn-create-post"
    >
      CREATE POST
    </button>
  </div>
</div>
